<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwt.web.school_major.mapper.SchoolMajorMapper">

    <select id="getList" resultType="com.itwt.web.school_major.entity.SchoolMajor">
        SELECT sm.*, sc.collage_name
        FROM school_major AS sm
        LEFT JOIN school_collage AS sc
        ON sm.collage_id = sc.collage_id
        WHERE 1 = 1
        <if test="parm.majorName != null and parm.majorName !=''">
            AND sm.major_name LIKE CONCAT('%', #{parm.majorName}, '%')
        </if>
        <if test="parm.collageName != null and parm.collageName !=''">
            AND sc.collage_name LIKE CONCAT('%', #{parm.collageName}, '%')
        </if>
    </select>
</mapper>